.bg{
    background: radial-gradient(circle at top left, rgba(99,102,241,.35), transparent 20%),
    radial-gradient(circle at bottom right, rgba(168,85,247,.25), transparent 30%)
    #0f172a;
}

.nome{
    background: linear-gradient(135deg, #6366f1, #a855f7);
    
    /* 2. Recorta o background exatamente no formato das letras */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* 3. Deixa a cor original do texto transparente para o fundo aparecer */
    -webkit-text-fill-color: transparent;
}

.input{
    background: transparent;
    background-color: rgba(128, 128, 128, 0.13);
    border: none;
}
.inputDate{
        background: transparent;
    background-color: rgba(128, 128, 128, 0.13);
    border: none;
}
.inputDate::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1); /* Se o fundo for escuro, isso deixa o ícone do calendário branco */
}
.button{
    background: linear-gradient(135deg, #6366f1, #a855f7);
    padding: 0.6rem;
    width: auto;
    border: none;
    border-radius: 15px;
    color: white;
    margin: 1.5rem 0 0 0 ;
}

.card{
    background-color: #0f004300;
    border:solid gray 1px
}

.fLetter{
    background: linear-gradient(135deg, #6366f1, #a855f7);

        border-radius: 90%;
        padding: 1rem;
}

.buttonNegar{
    background-color: rgb(15, 5, 37);
    font-weight: bolder;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1050;
    background-color: #0f004300;
    pointer-events: auto;
}

.insideModal{
    background-color: #160722;
    border: 1px solid gray;
    width: 25rem;
}

.p{
    font-size: 0.8rem;
}

.buttonFechar{
    background: transparent;
}

.input{
    background: transparent;
    background-color: rgba(128, 128, 128, 0.13);
    border: none;
}